@using vnmentor.Resources
@{
    ViewBag.Title = Resource.Unauthorized;
}

<div class="container center_page">
    <div class="main">
        <div class="ops_text">
            <strong>:(</strong>
            <div class="ops_title">
                <strong>@Resource.Oops</strong>
                <span>@Resource.UnauthorizedError</span>
            </div>
        </div>
        <div class="ops_message">
            <span>
                @ViewBag.Message
            </span>
        </div>
    </div>
</div>


